misc:
  workdir: "/home/mchrnwsk/prometheozyme/runs"

# Define all substrates and objects
ingredients:
  - &sub
    name: sub
    path: /home/mchrnwsk/prometheozyme/ingredients/lmo-mandalate/adduct.pdb
    charge: 0
    multiplicity: 1
    roles:
      deprot:
        - OH

  - &arg
    name: arg
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_arginine.pdb
    charge: 1
    multiplicity: 1
    roles:
      h_donor:
        - NE
        - NH1
        - NH2
      
  - &lys
    name: lys
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_lysine.pdb
    charge: 1
    multiplicity: 1
    roles:
      h_donor:
        - NZ

  - &his
    name: his
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_histidine.pdb
    charge: 0
    multiplicity: 1
    roles:
      h_acceptor:
        - ND1
      h_donor:
        - NE2

  - &cys
    name: cys
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_cysteine.pdb
    charge: 0
    multiplicity: 1
    roles:
      h_acceptor:
        - SG
      h_donor:
        - SG

  - &ser
    name: ser
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_serine.pdb
    charge: 0
    multiplicity: 1
    roles:
      h_acceptor:
        - OG
      h_donor:
        - OG

  - &thr
    name: thr
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_threonine.pdb
    charge: 0
    multiplicity: 1
    roles:
      h_acceptor:
        - OG1
      h_donor:
        - OG1

  - &tyr
    name: tyr
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_tyrosine.pdb
    charge: 0
    multiplicity: 1
    roles:
      grease:
        - CG
        - CD1
        - CD2
        - CE1
        - CE2
        - CZ
      h_acceptor:
        - OH
      h_donor:
        - OH

  - &phe
    name: phe
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_phenylalanine.pdb
    charge: 0
    multiplicity: 1
    roles:
      grease:
        - CG
        - CD1
        - CD2
        - CE1
        - CE2
        - CZ

  - &glu
    name: glu
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_glutamate.pdb
    charge: -1
    multiplicity: 1
    roles:
      h_acceptor:
        - OE1
        - OE2

  - &gln
    name: gln
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_glutamine.pdb
    charge: 0
    multiplicity: 1
    roles:
      h_acceptor:
        - OE1
      h_donor:
        - NE2

  - &asp
    name: asp
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_aspartate.pdb
    charge: -1
    multiplicity: 1
    roles:
      h_acceptor:
        - OD1
      h_donor:
        - OD2

  - &asn
    name: asn
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_asparagine.pdb
    charge: 0
    multiplicity: 1
    roles:
      h_acceptor:
        - OD1
      h_donor:
        - ND2

# Define roles and candidate ingredients
# Docking is consecutive!
roles:
  - &base1
      name: base1
      host_candidates:
        - *sub
      guest_candidates:
        - *his
      constraints:
        - guestIdx: h_acceptor # TODO: allow to define atom names not only groups of atoms; allow to define centre of mass
          guestType: any
          hostIdx: deprot
          hostType: any
          val: 1.5
          force: 100
      priority: -1
  - &base2
      name: base2
      host_candidates:
        - guests_of: *base1
      guest_candidates:
        - *asp
      constraints:
        - guestIdx: h_acceptor
          guestType: any
          hostIdx: h_donor
          hostType: any
          val: 1.5
          force: 100
      priority: -1