misc:
  evaluate_backbone: False
  workdir: "/home/mchrnwsk/theozymes/docking"

# Define docking params
docking:
  center_x: null
  center_y: null
  center_z: null
  size_x: null
  size_y: null
  size_z: null
  scoring: vina
  cnn_scoring: none
  pose_sort_order: Energy
  addH: false
  stripH: false
  exhaustiveness: 8
  num_modes: 10000
  no_gpu: false
redocking:
  num_modes: 100000
  min_rmsd_filter: 0.5
  temperature: 451
  # """How many iterations each MC chain performs.
  # By default is heuristically scaled based on number of degrees of freedom (more flexible ligands will take longer).
  # ! SO this might not actually be better for more flexible ligands !
  # Don't recommend using unless you want to do a "quick and dirty" docking run."""
  num_mc_steps: 20000

# Define substrate and objects
#!#!#!#! All hydrogen atoms ABSOLUTELY MUST be specified at the end of the XYZ files
#!#!#!#! because gnina removes non-polar hydrogens and fucks with indexing
ingredients:
  - &host
    name: host
    path: /home/mchrnwsk/theozymes/ingredients/adduct.xyz
    charge: 0
    multiplicity: 1
    indices:
      h_acceptor: 6
      n5: 26
      n3: 24
      o1: 15
      o2: 16
      h1: 27
      ringMDL: [0, 1, 2, 3, 4, 5]
      ringIAZ: [23, 25, 18, 16, 24, 33, 17, 15, 22]

  - &arg
    name: arg
    path: /home/mchrnwsk/theozymes/ingredients/amino_acids/arginine_backbone.xyz
    charge: 1
    multiplicity: 1
    indices:
      h_donor: [5, 7, 8]

  - &lys
    name: lys
    path: /home/mchrnwsk/theozymes/ingredients/amino_acids/lysine_backbone.xyz
    charge: 1
    multiplicity: 1
    indices:
      h_donor: 6

  - &his
    name: his
    path: /home/mchrnwsk/theozymes/ingredients/amino_acids/histidine_backbone.xyz
    charge: 0
    multiplicity: 1
    indices:
      h_acceptor: 7
      h_donor: 5
      deprotonate: [7]

  - &cys
    name: cys
    path: /home/mchrnwsk/theozymes/ingredients/amino_acids/cysteine_backbone.xyz
    charge: 0
    multiplicity: 1
    indices:
      h_acceptor: 3
      h_donor: 3

  - &ser
    name: ser
    path: /home/mchrnwsk/theozymes/ingredients/amino_acids/serine_backbone.xyz
    charge: 0
    multiplicity: 1
    indices:
      h_acceptor: 3
      h_donor: 3

  - &thr
    name: thr
    path: /home/mchrnwsk/theozymes/ingredients/amino_acids/threonine_backbone.xyz
    charge: 0
    multiplicity: 1
    indices:
      h_acceptor: 3
      h_donor: 3

  - &tyr
    name: tyr
    path: /home/mchrnwsk/theozymes/ingredients/amino_acids/tyrosine_backbone.xyz
    charge: 0
    multiplicity: 1
    indices:
      h_acceptor: 9
      h_donor: 9

  - &phe
    name: phe
    path: /home/mchrnwsk/theozymes/ingredients/amino_acids/phenylalanine_backbone.xyz
    charge: 0
    multiplicity: 1
    indices:
      ring: [3, 4, 5, 6, 7, 8]

  - &glu
    name: glu
    path: /home/mchrnwsk/theozymes/ingredients/amino_acids/glutamate_backbone.xyz
    charge: -1
    multiplicity: 1
    indices:
      h_acceptor: [5, 6]
      deprotonate: [5, 6]

  - &gln
    name: gln
    path: /home/mchrnwsk/theozymes/ingredients/amino_acids/glutamine_backbone.xyz
    charge: 0
    multiplicity: 1
    indices:
      h_acceptor: 6
      h_donor: 5
      deprotonate: [6]

  - &asp
    name: asp
    path: /home/mchrnwsk/theozymes/ingredients/amino_acids/aspartate_backbone.xyz
    charge: -1
    multiplicity: 1
    indices:
      h_acceptor: 5
      h_donor: 6
      deprotonate: [5]

  - &asn
    name: asn
    path: /home/mchrnwsk/theozymes/ingredients/amino_acids/asparagine_backbone.xyz
    charge: 0
    multiplicity: 1
    indices:
      h_acceptor: 5
      h_donor: 4
      deprotonate: [5]

roles:
  - name: base
    candidates:
      - *his
      - *ser
      - *thr
      - *cys
    constraints:
      - guestIdx: h_acceptor
        hostIdx: h1
        val: 3.0
    priority: -1
  - name: stabSubO
    candidates:
      - *arg
      - *lys
      - *his
      - *tyr
      - *gln
      - *asn
    constraints:
      - guestIdx: h_donor
        hostIdx: h_acceptor
        val: 3.0
    priority: 1
  - name: stabN
    candidates:
      - *arg
      - *lys
      - *his
    constraints:
      - guestIdx: h_donor
        hostIdx: n5
        val: 3.0
    priority: 2
  - name: protN
    candidates:
      - *his
      - *cys
    constraints:
      - guestIdx: h_donor
        hostIdx: n5
        val: 3.0
    priority: 2
#  - name: stabIAZpolarO1
#    candidates:
#      - *arg
#      - *ser
#    constraints:
#      - guestIdx: h_donor
#        hostIdx: o1
#        val: 3.0
#    priority: 3
#  - name: stabIAZpolarO2
#    candidates:
#      - *arg
#      - *ser
#    constraints:
#      - guestIdx: h_donor
#        hostIdx: o2
#        val: 3.0
#    priority: 3
#  - name: stabIAZpolarN
#    candidates:
#      - *gln
#    constraints:
#      - guestIdx: h_acceptor
#        hostIdx: n3
#        val: 3.0
#    priority: 3
#  - name: stabIAZgreasy
#    candidates:
#      - *phe
#    constraints:
#      - guestIdx: ring
#        guestType: com
#        hostIdx: ringIAZ
#        hostType: com
#        val: 4.5
#    priority: 3
#  - name: stabSubRing
#    candidates:
#      - *phe
#    constraints:
#      - guestIdx: ring
#        guestType: com
#        hostIdx: ringMDL
#        hostType: com
#        val: 4.5
#    priority: 3