# MISCELLANEOUS INFORMATION
misc:
  # set directory for output
  # automatically writes %Y-%m-%d_%H-%M-%S directory under the path specified below
  # and places all output there
  workdir: "/home/mchrnwsk/prometheozyme/runs"
  
# SETTINGS FOR ORCA DOCKER: Automated Docking Algorithm
# Read more here: https://www.faccts.de/docs/orca/6.1/manual/contents/structurereactivity/docker.html?q=docker&n=0#docker-automated-docking-algorithm
# TODO not implemented options: SWARMMINITER, SWARMMAXITER, %GEOM block, GRIDCENTER, DOCKLEVEL
orca:
  # absolute path to orca executable
  # default: ./orca
  orcapth: /home/mchrnwsk/orca_6_1_0/orca
  # QM method to use in docking
  # DOCKER as of ORCA 6.1 is only working with the GFN-XTB and GFN-FF methods and the ALPB solvation model
  # default: XTB2
  qmMethod: "XTB2"
  # define a general strategy of docking procedure, 
  # from faster but less accurate, to more elaborate
  # alters population density and final number of optimised structures (but nOpt is decisive)
  # available options: SCREENING, QUICK, NORMAL (default) and COMPLETE
  strategy: QUICK
  # "Use default optimization criteria inside the DOCKER"
  # available options: sloppyopt (default), looseopt, normalopt
  optLevel: sloppyopt
  # define fixed final number of structures to be optimised at the end of each docking step
  # default: 5
  nOpt: 3
  # defines extent of the grid around the center (of host; could be overridden by GRIDCENTER)
  # cube of all dimensions equal
  # units: Ang
  # default: 15
  gridExtent: 15
  # total number of parallel processes to run docker with
  # default: 8
  nprocs: 16
  
# DEFINE ALL MOLECULAR OBJECTS TO PARTICIPATE IN THE DOCKING PIPELINE
# Recommended strategy: create PDB files and assign unique atom names to all atoms,
# or at least all atoms that will be used in any constraints
# WARNING: atom name length is limited to 3 symbols!
ingredients:
  - &sub
    name: sub
    path: /home/mchrnwsk/prometheozyme/ingredients/lmo-mandalate/adduct.pdb
    charge: 0
    multiplicity: 1
    flavours:
      deprot:
        - OH

  - &arg
    name: arg
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_arginine.pdb
    charge: 1
    multiplicity: 1
    flavours:
      h_donor:
        - NE
        - NH1
        - NH2
      
  - &lys
    name: lys
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_lysine.pdb
    charge: 1
    multiplicity: 1
    flavours:
      h_donor:
        - NZ

  - &his
    name: his
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_histidine.pdb
    charge: 0
    multiplicity: 1
    flavours:
      h_acceptor:
        - ND1
      h_donor:
        - NE2
      deprot:
        - HE2

  - &cys
    name: cys
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_cysteine.pdb
    charge: 0
    multiplicity: 1
    flavours:
      h_acceptor:
        - SG
      h_donor:
        - SG

  - &ser
    name: ser
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_serine.pdb
    charge: 0
    multiplicity: 1
    flavours:
      h_acceptor:
        - OG
      h_donor:
        - OG

  - &thr
    name: thr
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_threonine.pdb
    charge: 0
    multiplicity: 1
    flavours:
      h_acceptor:
        - OG1
      h_donor:
        - OG1

  - &tyr
    name: tyr
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_tyrosine.pdb
    charge: 0
    multiplicity: 1
    flavours:
      grease:
        - CG
        - CD1
        - CD2
        - CE1
        - CE2
        - CZ
      h_acceptor:
        - OH
      h_donor:
        - OH

  - &phe
    name: phe
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_phenylalanine.pdb
    charge: 0
    multiplicity: 1
    flavours:
      grease:
        - CG
        - CD1
        - CD2
        - CE1
        - CE2
        - CZ

  - &glu
    name: glu
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_glutamate.pdb
    charge: -1
    multiplicity: 1
    flavours:
      h_acceptor:
        - OE1
        - OE2

  - &gln
    name: gln
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_glutamine.pdb
    charge: 0
    multiplicity: 1
    flavours:
      h_acceptor:
        - OE1
      h_donor:
        - NE2

  - &asp
    name: asp
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_aspartate.pdb
    charge: -1
    multiplicity: 1
    flavours:
      h_acceptor:
        - OD1
      h_donor:
        - OD2

  - &asn
    name: asn
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_asparagine.pdb
    charge: 0
    multiplicity: 1
    flavours:
      h_acceptor:
        - OD1
      h_donor:
        - ND2

# DEFINE COURSES AS COMBINATION OF POTENTIAL GUESTS AND THEIR RESTRAINTS
# First course must be 'init' and specify as guest the substrate object,
# which will then become the host of the first real docking step in the pipeline.
# Docking is consecutive! so the next course always reuses output of the previous docking step.
# However, as restraints are defined between GUEST and HOST atoms, you can define here restrainst
# by pointing to the name of a particular previous course
# in which molecules that you want to restrain to as HOSTS, were added as guest_candidates;
# these host_candidates must contain 'flavours' matching hostIdx in the course currently being defined.
courses:
  - &init
      name: init
      host_candidates: None
      guest_candidates:
        - *sub
      restraints:
        None
  - &base1
      name: base1
      host_candidates: *init
      guest_candidates:
        - *his
      restraints:
        - guestIdx: h_acceptor
          hostIdx: deprot
          val: 1.5
          force: 100
  - &base2
      name: base2
      host_candidates: *base1
      guest_candidates:
        - *asp
      restraints:
        - guestIdx: h_acceptor
          hostIdx: deprot
          val: 1.5
          force: 100