# MISCELLANEOUS INFORMATION
misc:
  # set directory for output
  # automatically writes %Y-%m-%d_%H-%M-%S directory under the path specified below
  # and places all output there
  workdir: /home/mchrnwsk/prometheozyme/runs
  # Set logging verbosity:
  # available options: verbose, debug, info, warning, error, critical
  verbosity: debug
  
# SETTINGS FOR ORCA DOCKER: Automated Docking Algorithm
# Read more here: https://www.faccts.de/docs/orca/6.1/manual/contents/structurereactivity/docker.html?q=docker&n=0#docker-automated-docking-algorithm
# Options qmMethod, strategy, optLevel, nOpt, fixHost, gridExtent can be overwritten in each individual course definition for that step
# TODO not implemented options: SWARMMINITER, SWARMMAXITER, %GEOM block, GRIDCENTER, DOCKLEVEL
# TODO consideration: %DOCK CHECKGUESTTOPO FALSE END
orca:
  # absolute path to orca executable
  # default: ./orca
  orcapth: /home/mchrnwsk/orca_6_1_1_linux_x86-64_shared_openmpi418/orca
  # QM method to use in docking
  # DOCKER as of ORCA 6.1 is only working with the GFN-XTB and GFN-FF methods and the ALPB solvation model
  # default: XTB2
  qmMethod: "XTB2"
  # define a general strategy of docking procedure, 
  # from faster but less accurate, to more elaborate
  # alters population density and final number of optimised structures (but nOpt is decisive)
  # available options: SCREENING, QUICK, NORMAL (default) and COMPLETE
  strategy: QUICK
  # "Use default optimization criteria inside the DOCKER"
  # available options: sloppyopt (default), looseopt, normalopt
  optLevel: sloppyopt
  # define fixed final number of structures to be optimised at the end of each docking step
  # default: 5
  nOpt: 15
  # determine whether host molecule is optimised (False) or kept static (True)
  # default: True
  fixHost: True
  # defines extent of the grid around the center (of host; could be overridden by GRIDCENTER)
  # cube of all dimensions equal
  # units: Ang
  # default: 15
  gridExtent: 15
  # total number of parallel processes to run docker with
  # default: 8
  nprocs: 16

# DEFINE ALL MOLECULAR OBJECTS TO PARTICIPATE IN THE DOCKING PIPELINE
# Recommended strategy: create PDB files and assign unique atom names to all atoms,
# or at least all atoms that will be used in any constraints
# WARNING: atom name length is limited to 3 symbols!
ingredients:
  - &sub_het_p
    name: sub_het_p
    path: /home/mchrnwsk/prometheozyme/ingredients/lmo-mandalate/optimised/adduct_het_p/opt.pdb
    charge: -1
    multiplicity: 1
    flavours:
      deprot:
        - OH
      deprot_H:
        - HH

  - &sub_het_d
    name: sub_het_d
    path: /home/mchrnwsk/prometheozyme/ingredients/lmo-mandalate/optimised/adduct_het_d/opt.pdb
    charge: -2
    multiplicity: 1
    flavours:
      deprot:
        - OH
      deprot_H:
        - HH

  - &sub_grs_p
    name: sub_grs_p
    path: /home/mchrnwsk/prometheozyme/ingredients/lmo-mandalate/optimised/adduct_grease_p/opt.pdb
    charge: -1
    multiplicity: 1
    flavours:
      deprot:
        - OH
      deprot_H:
        - HH

  - &sub_grs_d
    name: sub_grs_d
    path: /home/mchrnwsk/prometheozyme/ingredients/lmo-mandalate/optimised/adduct_grease_d/opt.pdb
    charge: -2
    multiplicity: 1
    flavours:
      deprot:
        - OH
      deprot_H:
        - HH

  - &arg
    name: arg
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_arginine.pdb
    charge: 1
    multiplicity: 1
    flavours:
      h_donor:
        - NH1
        - NH2
        - NE
      h_acceptor:
        - CZ
        
  - &lys_p
    name: lys_p
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_lysine_protonated.pdb
    charge: 1
    multiplicity: 1
    flavours:
      h_donor:
        - NZ

  - &lys_d
    name: lys_d
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_lysine_deprotonated.pdb
    charge: 0
    multiplicity: 1
    flavours:
      h_donor:
        - NZ

  - &hid
    name: hid
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_histidine_hid.pdb
    charge: 0
    multiplicity: 1
    flavours:
      h_acceptor:
        - NE2
      h_donor:
        - ND1
      deprot:
        - HD1

  - &hie
    name: hie
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_histidine_hie.pdb
    charge: 0
    multiplicity: 1
    flavours:
      h_acceptor:
        - ND1
      h_donor:
        - NE2
      deprot:
        - HE2

  - &hip
    name: hip
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_histidine_hip.pdb
    charge: 1
    multiplicity: 1
    flavours:
      nucleophile:
        - NE2
      electrophile:
        - ND1
      h_donor:
        - ND1
        - NE2
      deprot:
        - HD1
        - HE2

  - &hia
    name: hia
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_histidine_hia.pdb
    charge: -1
    multiplicity: 1
    flavours:
      h_acceptor:
        - ND1
        - NE2

  - &cys_p
    name: cys_p
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_cysteine_protonated.pdb
    charge: 0
    multiplicity: 1
    flavours:
      h_acceptor:
        - SG
      h_donor:
        - SG
      nucleophile:
        - SG
      electrophile:
        - SG

  - &cys_d
    name: cys_d
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_cysteine_deprotonated.pdb
    charge: -1
    multiplicity: 1
    flavours:
      h_acceptor:
        - SG

  - &ser_p
    name: ser_p
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_serine_protonated.pdb
    charge: 0
    multiplicity: 1
    flavours:
      h_acceptor:
        - OG
      h_donor:
        - OG

  - &ser_d
    name: ser_d
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_serine_deprotonated.pdb
    charge: -1
    multiplicity: 1
    flavours:
      h_acceptor:
        - OG

  - &thr_p
    name: thr_p
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_threonine_protonated.pdb
    charge: 0
    multiplicity: 1
    flavours:
      h_acceptor:
        - OG1
      h_donor:
        - OG1

  - &thr_d
    name: thr_d
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_threonine_deprotonated.pdb
    charge: -1
    multiplicity: 1
    flavours:
      h_acceptor:
        - OG1

  - &tyr_p
    name: tyr_p
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_tyrosine_protonated.pdb
    charge: 0
    multiplicity: 1
    flavours:
      h_acceptor:
        - OH
      h_donor:
        - OH

  - &tyr_d
    name: tyr_d
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_tyrosine_deprotonated.pdb
    charge: -1
    multiplicity: 1
    flavours:
      h_acceptor:
        - OH

  - &glu_p
    name: glu_p
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_glutamate_protonated.pdb
    charge: 0
    multiplicity: 1
    flavours:
      h_acceptor:
        - OE1
        - OE2
      h_donor:
        - OE2

  - &glu_d
    name: glu_d
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_glutamate_deprotonated.pdb
    charge: -1
    multiplicity: 1
    flavours:
      h_acceptor:
        - OE1
        - OE2

  - &gln
    name: gln
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_glutamine.pdb
    charge: 0
    multiplicity: 1
    flavours:
      h_acceptor:
        - OE1
      h_donor:
        - NE2

  - &asp_p
    name: asp_p
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_aspartate_protonated.pdb
    charge: 0
    multiplicity: 1
    flavours:
      h_acceptor:
        - OD1
      h_donor:
        - OD2

  - &asp_d
    name: asp_d
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_aspartate_deprotonated.pdb
    charge: -1
    multiplicity: 1
    flavours:
      nucleophile:
        - OD2
      h_acceptor:
        - OD1
        - OD2

  - &asn
    name: asn
    path: /home/mchrnwsk/prometheozyme/ingredients/amino_acids/cb_asparagine.pdb
    charge: 0
    multiplicity: 1
    flavours:
      h_acceptor:
        - OD1
      h_donor:
        - ND2

# (courses must follow ingredient definition to use aliases)
# DEFINE COURSES AS COMBINATION OF POTENTIAL GUESTS AND THEIR RESTRAINTS
# First course must be 'init' and specify as guest the substrate object,
# which will then become the host of the first real docking step in the pipeline.
# Docking is consecutive! so the next course always reuses output of the previous docking step.
# However, as restraints are defined between GUEST and HOST atoms, you can define here restrainst
# by pointing to the name of a particular previous course
# in which molecules that you want to restrain to as HOSTS, were added as guest_candidates;
# these host_candidates must contain 'flavours' matching hostIdx in the course currently being defined.
# Be careful: restraint expansion takes place across ALL combinations,
# so if multiple atoms from one ingredient match a flavour, all combinations will be created!
# This can lead to combinatorial explosion of number of docking runs and some less-than-sensible combinations
# such as NH1 of arginine being restrained to in distance but NH2 in angle - to avoid,
# groups only truly identical and equivalent atoms in flavours, and preferably keep atom atom per flavour.
courses:
  - &init
      name: init
      host_candidates: None
      guest_candidates:
        - *sub_het_p
      restraints:
        - None
  - &base1
      name: base1
      host_candidates: *init
      guest_candidates:
        - *arg
      restraints:
        - property: distance
          selection:
            - parent: guest
              idx: h_donor
            - parent: host
              idx: deprot
          parameters:
            val: 2.7 # equilibrium distance between restrained atoms (units: Ang)
            tol: 0.5 # docker results within val +/- tol are accepted as correct starting points for next docking
            force: 100 # energy difference from the bottom to the top of the Morse potential (units: kcal/mol)
        - property: distance
          selection:
            - parent: guest
              idx: h_donor
            - parent: guest
              idx: h_acceptor
          parameters:
            val: 2.7 # equilibrium distance between restrained atoms (units: Ang)
            tol: 0.5 # docker results within val +/- tol are accepted as correct starting points for next docking
            force: 100 # energy difference from the bottom to the top of the Morse potential (units: kcal/mol)
        - property: angle
          selection:
            - parent: guest
              idx: h_donor
            - parent: host
              idx: deprot_H
            - parent: host
              idx: deprot
          parameters:
            val: 180 # optimal angle between restrained atoms (units: degrees)
            tol: 10 # docker results within val +/- tol are accepted as correct starting points for next docking
            force: 100 # energy difference from the bottom to the top of the Morse potential (units: kcal/mol)
      orcaSettings:
        nOpt: 2
        fixHost: False
#  - &base2
#      name: base2
#      host_candidates: *base1
#      guest_candidates:
#        - *asp_d
#      restraints:
#        - restraintproperty: distance
#          selection:
#            - parent: guest
#              idx: nucleophile
#            - parent: host
#              idx: electrophile
#          parameters:
#            r0: 2.7
#            tol: 0.5
#            k: 100
#      orcaSettings:
#        nOpt: 5

# TODO add molecular orbital diagrams of amino acids' HOMOs and LUMOs to guide decisions on restraint angles (tutorial style)
# TODO evaluate angle restraints
# TODO evaluate reasonable backbone arrangement - what testable rules are there for reasonable arrangement?
# TODO automatically write inputs to evaluate reactivity (e.g. with NEB) and generate protein (RFdiffusion)
# TODO source of each individual final result is unknown because of renaming based on einter - write as REMARKs metadata information?
# TODO add a slightly greasy polarisable medium (mimics protein environment) so lack of H-bonds isn't penalised so much
# TODO clearer error messaging - the errors are there, but tend to be hidden by the code that comes next